html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;

    
}

a{
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease;
    font-weight: bold;
}

a:hover{
    color: black;
}

li{
    list-style: none;
}

nav{
    background-color: #fff;
    width: 100%;
    position: static;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 88px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
    
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
    padding: 20px;
}

nav button{
    color: #1c1e53;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: navy;
    border: red;
    color: #fff;
    
}

nav button#MenuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

@media screen and (max-width: 768px) {
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    nav button#MenuButton{
        display: flex;
    }

    nav button#appoinment{
        display: none;
    }

    
}

@media screen and (max-width: 576px) {
   
   nav{
    font-size: 10px;
    justify-content: space-between;
    padding: 5px;
    
   }

    nav .logo a{
    font-size: 18px;
   }

.top-content{
    font-size: 12px;
}

  
}

.slider img{
    width: 100%;
    filter: brightness(50%);
    height: 80vh;
    object-fit: cover;
    
}

h2{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 7rem;
    top: 19rem;
    padding: 0 1rem;
}

h5{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 7rem;
    top: 23rem;
    padding: 0 1rem;
    width: 50%;
    font-weight: lighter;
}

#introimg{
    width: 40%;
}

#int{
    width: 40%;
    margin-top: 20vh;
}

.intro{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#mos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}



.card-contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: rgb(240, 251, 255);
}
  
 .card{
    width: 200px;
    background-color: rgba(0, 0, 128, 0.242);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
 }

 .card img{
    width: 100%;
    height: auto;
    margin-top: 10px;
 }

 .card-content{
    padding: 16px;
 }

 .card-content h4{
    font-size: 28px;
    margin: 8px;
 }

 .card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
 }
